ESB/ESB/ESB/Connected Services/WSRestaurante/Restaurante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecibirPedidoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion_pedido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirPedidoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibirPedidoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPedidoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoListoRepartidor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_repartidor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoListoRepartidorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PedidoListoRepartidorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecibirPedidoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:RecibirPedidoCliente" />
  </wsdl:message>
  <wsdl:message name="RecibirPedidoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:RecibirPedidoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPedidoCliente" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPedidoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoListoRepartidorSoapIn">
    <wsdl:part name="parameters" element="tns:PedidoListoRepartidor" />
  </wsdl:message>
  <wsdl:message name="PedidoListoRepartidorSoapOut">
    <wsdl:part name="parameters" element="tns:PedidoListoRepartidorResponse" />
  </wsdl:message>
  <wsdl:portType name="RestauranteSoap">
    <wsdl:operation name="RecibirPedidoCliente">
      <wsdl:input message="tns:RecibirPedidoClienteSoapIn" />
      <wsdl:output message="tns:RecibirPedidoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoCliente">
      <wsdl:input message="tns:EstadoPedidoClienteSoapIn" />
      <wsdl:output message="tns:EstadoPedidoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PedidoListoRepartidor">
      <wsdl:input message="tns:PedidoListoRepartidorSoapIn" />
      <wsdl:output message="tns:PedidoListoRepartidorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestauranteSoap" type="tns:RestauranteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirPedidoCliente">
      <soap:operation soapAction="http://tempuri.org/RecibirPedidoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoCliente">
      <soap:operation soapAction="http://tempuri.org/EstadoPedidoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoListoRepartidor">
      <soap:operation soapAction="http://tempuri.org/PedidoListoRepartidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RestauranteSoap12" type="tns:RestauranteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirPedidoCliente">
      <soap12:operation soapAction="http://tempuri.org/RecibirPedidoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoCliente">
      <soap12:operation soapAction="http://tempuri.org/EstadoPedidoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoListoRepartidor">
      <soap12:operation soapAction="http://tempuri.org/PedidoListoRepartidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Restaurante">
    <wsdl:port name="RestauranteSoap" binding="tns:RestauranteSoap">
      <soap:address location="http://localhost:53157/Restaurante.asmx" />
    </wsdl:port>
    <wsdl:port name="RestauranteSoap12" binding="tns:RestauranteSoap12">
      <soap12:address location="http://localhost:53157/Restaurante.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>