ESB/ESB/ESB/Connected Services/WSRepartidor/Repartidor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecibirEntregaRestaurante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPedido" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_repartidor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirEntregaRestauranteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibirEntregaRestauranteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPedidoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoEntregado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PedidoEntregadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PedidoEntregadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecibirEntregaRestauranteSoapIn">
    <wsdl:part name="parameters" element="tns:RecibirEntregaRestaurante" />
  </wsdl:message>
  <wsdl:message name="RecibirEntregaRestauranteSoapOut">
    <wsdl:part name="parameters" element="tns:RecibirEntregaRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPedidoCliente" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPedidoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoEntregadoSoapIn">
    <wsdl:part name="parameters" element="tns:PedidoEntregado" />
  </wsdl:message>
  <wsdl:message name="PedidoEntregadoSoapOut">
    <wsdl:part name="parameters" element="tns:PedidoEntregadoResponse" />
  </wsdl:message>
  <wsdl:portType name="RepartidorSoap">
    <wsdl:operation name="RecibirEntregaRestaurante">
      <wsdl:input message="tns:RecibirEntregaRestauranteSoapIn" />
      <wsdl:output message="tns:RecibirEntregaRestauranteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoCliente">
      <wsdl:input message="tns:EstadoPedidoClienteSoapIn" />
      <wsdl:output message="tns:EstadoPedidoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PedidoEntregado">
      <wsdl:input message="tns:PedidoEntregadoSoapIn" />
      <wsdl:output message="tns:PedidoEntregadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepartidorSoap" type="tns:RepartidorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirEntregaRestaurante">
      <soap:operation soapAction="http://tempuri.org/RecibirEntregaRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoCliente">
      <soap:operation soapAction="http://tempuri.org/EstadoPedidoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoEntregado">
      <soap:operation soapAction="http://tempuri.org/PedidoEntregado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RepartidorSoap12" type="tns:RepartidorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirEntregaRestaurante">
      <soap12:operation soapAction="http://tempuri.org/RecibirEntregaRestaurante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoCliente">
      <soap12:operation soapAction="http://tempuri.org/EstadoPedidoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoEntregado">
      <soap12:operation soapAction="http://tempuri.org/PedidoEntregado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Repartidor">
    <wsdl:port name="RepartidorSoap" binding="tns:RepartidorSoap">
      <soap:address location="http://localhost:53313/Repartidor.asmx" />
    </wsdl:port>
    <wsdl:port name="RepartidorSoap12" binding="tns:RepartidorSoap12">
      <soap12:address location="http://localhost:53313/Repartidor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>