ESB/ESB/ESB/Connected Services/WSCliente/Cliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HacerPedidoRestaurante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion_pedido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HacerPedidoRestauranteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HacerPedidoRestauranteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRestaurante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRestauranteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPedidoRestauranteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRepartidor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idpedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstadoPedidoRepartidorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstadoPedidoRepartidorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HacerPedidoRestauranteSoapIn">
    <wsdl:part name="parameters" element="tns:HacerPedidoRestaurante" />
  </wsdl:message>
  <wsdl:message name="HacerPedidoRestauranteSoapOut">
    <wsdl:part name="parameters" element="tns:HacerPedidoRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRestauranteSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRestaurante" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRestauranteSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRestauranteResponse" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRepartidorSoapIn">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRepartidor" />
  </wsdl:message>
  <wsdl:message name="EstadoPedidoRepartidorSoapOut">
    <wsdl:part name="parameters" element="tns:EstadoPedidoRepartidorResponse" />
  </wsdl:message>
  <wsdl:portType name="ClienteSoap">
    <wsdl:operation name="HacerPedidoRestaurante">
      <wsdl:input message="tns:HacerPedidoRestauranteSoapIn" />
      <wsdl:output message="tns:HacerPedidoRestauranteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRestaurante">
      <wsdl:input message="tns:EstadoPedidoRestauranteSoapIn" />
      <wsdl:output message="tns:EstadoPedidoRestauranteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRepartidor">
      <wsdl:input message="tns:EstadoPedidoRepartidorSoapIn" />
      <wsdl:output message="tns:EstadoPedidoRepartidorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClienteSoap" type="tns:ClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HacerPedidoRestaurante">
      <soap:operation soapAction="http://tempuri.org/HacerPedidoRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRestaurante">
      <soap:operation soapAction="http://tempuri.org/EstadoPedidoRestaurante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRepartidor">
      <soap:operation soapAction="http://tempuri.org/EstadoPedidoRepartidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClienteSoap12" type="tns:ClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HacerPedidoRestaurante">
      <soap12:operation soapAction="http://tempuri.org/HacerPedidoRestaurante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRestaurante">
      <soap12:operation soapAction="http://tempuri.org/EstadoPedidoRestaurante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoPedidoRepartidor">
      <soap12:operation soapAction="http://tempuri.org/EstadoPedidoRepartidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cliente">
    <wsdl:port name="ClienteSoap" binding="tns:ClienteSoap">
      <soap:address location="http://localhost:50697/Cliente.asmx" />
    </wsdl:port>
    <wsdl:port name="ClienteSoap12" binding="tns:ClienteSoap12">
      <soap12:address location="http://localhost:50697/Cliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>